IoT_and_cloud/temp_broker/node-red/flow2.json
[
  {
    "id": "2c1e8f7e.cbb448",
    "type": "tab",
    "label": "rooms",
    "disabled": false,
    "info": ""
  },
  {
    "id": "fa6b8c5b.6f4d58",
    "type": "function",
    "z": "2c1e8f7e.cbb448",
    "name": "checktemp",
    "func": "if(typeof global.get(\"lightstatus\") === \"undefined\"){\n    if(msg.payload < 27)\n        global.set(\"lightstatus\", \"on\")\n    else{\n        global.set(\"lightstatus\", \"on\")\n    }\n}\nlet lightStatus = global.get(\"lightstatus\");\nif(msg.payload < 27 && lightStatus !== \"on\"){\n    msg.payload = \"on\";\n    global.set(\"lightstatus\", \"on\")\n}else if(msg.payload > 27 && lightStatus !== \"off\") {\n    msg.payload = \"off\";\n    global.set(\"lightstatus\", \"off\")\n}\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 690,
    "y": 200,
    "wires": [["35c6e356.a4af7c"]]
  },
  {
    "id": "b536c1f6.38c438",
    "type": "json",
    "z": "2c1e8f7e.cbb448",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 490,
    "y": 200,
    "wires": [["fa6b8c5b.6f4d58"]]
  },
  {
    "id": "ed1e9d3e.c75e2",
    "type": "mqtt out",
    "z": "2c1e8f7e.cbb448",
    "name": "",
    "topic": "room/living/lightSwitch",
    "qos": "",
    "retain": "",
    "broker": "ba756877.e8493",
    "x": 1160,
    "y": 320,
    "wires": []
  },
  {
    "id": "35c6e356.a4af7c",
    "type": "switch",
    "z": "2c1e8f7e.cbb448",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "off",
        "vt": "str",
        "case": false
      },
      {
        "t": "regex",
        "v": "on",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 910,
    "y": 200,
    "wires": [["ed1e9d3e.c75e2"], ["ed1e9d3e.c75e2"]],
    "outputLabels": ["off", "on"]
  },
  {
    "id": "a77938dc.a8dae8",
    "type": "mqtt in",
    "z": "2c1e8f7e.cbb448",
    "name": "",
    "topic": "room/#",
    "qos": "2",
    "broker": "ba756877.e8493",
    "x": 130,
    "y": 340,
    "wires": [["6cbaae7.e3cf05"]]
  },
  {
    "id": "6cbaae7.e3cf05",
    "type": "switch",
    "z": "2c1e8f7e.cbb448",
    "name": "topics",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "room/living/temperature",
        "vt": "str",
        "case": true
      },
      {
        "t": "regex",
        "v": "room/bod/humidity",
        "vt": "str",
        "case": true
      },
      {
        "t": "regex",
        "v": "room/bod/temperature",
        "vt": "str",
        "case": true
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 370,
    "y": 340,
    "wires": [
      ["b536c1f6.38c438", "7977e4be.fec02c", "d10e5cae.b6aca"],
      ["94ba0c85.dbd738"],
      ["eef70057.a91a2"]
    ]
  },
  {
    "id": "7977e4be.fec02c",
    "type": "ui_gauge",
    "z": "2c1e8f7e.cbb448",
    "name": "",
    "group": "26696e01.2b75ca",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperature",
    "label": "C",
    "format": "{{value}}",
    "min": 0,
    "max": "60",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 630,
    "y": 300,
    "wires": []
  },
  {
    "id": "eef70057.a91a2",
    "type": "ui_chart",
    "z": "2c1e8f7e.cbb448",
    "name": "",
    "group": "9f676f30.5c7758",
    "order": 0,
    "width": "6",
    "height": "6",
    "label": "Temperature ",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "step",
    "nodata": "",
    "dot": false,
    "ymin": "4",
    "ymax": "25",
    "removeOlder": "15",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 630,
    "y": 420,
    "wires": [[], []]
  },
  {
    "id": "94ba0c85.dbd738",
    "type": "ui_chart",
    "z": "2c1e8f7e.cbb448",
    "name": "",
    "group": "9f676f30.5c7758",
    "order": 0,
    "width": "6",
    "height": "6",
    "label": "Humidity ",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "step",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "15",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 620,
    "y": 380,
    "wires": [[], []]
  },
  {
    "id": "d10e5cae.b6aca",
    "type": "ui_chart",
    "z": "2c1e8f7e.cbb448",
    "name": "",
    "group": "26696e01.2b75ca",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Temperature",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "2",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 630,
    "y": 340,
    "wires": [[], []]
  },
  {
    "id": "ba756877.e8493",
    "type": "mqtt-broker",
    "z": "",
    "name": "dat159",
    "broker": "m23.cloudmqtt.com",
    "port": "10113",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "3600",
    "cleansession": true,
    "birthTopic": "hello from node red",
    "birthQos": "0",
    "birthPayload": "connected from nodered",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "26696e01.2b75ca",
    "type": "ui_group",
    "z": 0,
    "name": "Living Room Sensor",
    "tab": "1fe57c28.b7236c",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "9f676f30.5c7758",
    "type": "ui_group",
    "z": 0,
    "name": "Bod Sensors",
    "tab": "1fe57c28.b7236c",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "1fe57c28.b7236c",
    "type": "ui_tab",
    "z": 0,
    "name": "Sensors",
    "icon": "dashboard",
    "order": 2
  }
]
